---
import ThemeToggle from "../ThemeToggle.astro";
import Search from "../Search.astro";
import { menuLinks } from "@/site-config";

const url = new URL(Astro.request.url);
---

<script>
	import { toggleClass } from "@/utils";
	let headerEl: HTMLElement;
	let menuButtonEl: HTMLButtonElement;
	let menuOpen = false;

	function toggleMobileMenu() {
		toggleClass(headerEl, "menu-open");
		menuOpen = !menuOpen;
		menuButtonEl.setAttribute("aria-expanded", menuOpen.toString());
	}

	document.addEventListener("DOMContentLoaded", () => {
		headerEl = document.getElementById("main-header")!;
		menuButtonEl = document.getElementById("toggle-navigation-menu") as HTMLButtonElement;
		menuButtonEl.addEventListener("click", toggleMobileMenu);
	});

	document.addEventListener("astro:after-swap", () => {
		if (menuOpen) toggleMobileMenu();
	});
</script>

<header
	id="main-header"
	class="group relative mb-28 flex items-center sm:ps-[4.5rem]"
	transition:persist
>
	<div class="flex sm:flex-col">
		<a
			href="/"
			class="inline-flex items-center grayscale dark:brightness-150 hover:filter-none sm:relative sm:inline-block dark:hover:filter-none"
			aria-current={url.pathname === "/" ? "page" : false}
		>
      <svg viewBox="0 0 451 570" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="me-3 h-10 w-6 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-20 sm:w-12">
        <title>Logo</title>
        <path d="M19 522.37L85.6666 560.86V252.94L19 214.45V522.37Z" fill="#070B30"/>
        <path d="M165.333 124.47V201.45L232 239.94L232 162.96L165.333 124.47Z" fill="#070B30"/>
        <path d="M298.667 201.45L232 239.94Z" fill="#070B30"/>
        <path d="M232 239.94V393.92Z" fill="#070B30"/>
        <path d="M298.667 432.41L298.667 201.45Z" fill="#070B30"/>
        <path d="M232 393.92L298.667 432.41Z" fill="#070B30"/>
        <path d="M298.667 201.45L232 239.94V393.92L298.667 432.41L298.667 201.45Z" fill="#070B30"/>
        <path d="M232 239.94L298.667 201.45L298.667 432.39L365.333 393.9V162.96L432 124.47L432 47.49L232 162.96V239.94Z" fill="#53C68C"/>
        <path d="M85.6668 560.86L285.667 445.39L285.667 368.41L152.333 445.39L152.333 214.45L85.6668 252.94V560.86Z" fill="#53C68C"/>
        <path d="M365.333 9L432 47.49L232 162.96L165.333 124.47L365.333 9Z" fill="#1B2050"/>
        <path d="M85.6666 175.96L19 214.45L85.6668 252.94L152.333 214.45L85.6666 175.96Z" fill="#1B2050"/>
        <path d="M219 329.92L152.333 368.41V445.39L285.667 368.41L219 329.92Z" fill="#1B2050"/>
      </svg>
			<span class="text-xl font-bold sm:text-2xl">Lucas Timm</span>
		</a>
		<nav
			id="navigation-menu"
			class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			aria-label="Main menu"
		>
			{
				menuLinks.map((link) => (
					<a
						href={link.path}
						class="px-4 py-4 sm:py-0 sm:hover:underline"
						aria-current={url.pathname === link.path ? "page" : false}
						rel="prefetch"
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<button
		id="toggle-navigation-menu"
		class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
		type="button"
		aria-label="Open main menu"
		aria-expanded="false"
		aria-haspopup="menu"
	>
		<svg
			id="line-svg"
			class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
			aria-hidden="true"
			focusable="false"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
		>
			<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5"></path>
		</svg>
		<svg
			id="cross-svg"
			class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
			class="text-accent"
			aria-hidden="true"
			focusable="false"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
		>
			<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
		</svg>
	</button>
</header>
