---
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import CurriculumLayout from '../layouts/CurriculumLayout.astro';
import Ribbon from '../components/Ribbon.astro';
---

<CurriculumLayout>
  <Header />
  <div class="mt-16 container mx-auto">
    <Card>
      <Ribbon href="#">text</Ribbon>
      Texto genérico aqui hahaha
    </Card>
  </div>
</CurriculumLayout>
