---
import Logo from './Logo.astro';
import MenuIcon from '../icons/MenuIcon.astro';
---

<div class="mx-auto container">
  <header class="flex flex-row items-center justify-between py-2 px-4">
    <Logo height="32" />
    <h1 class="sr-only">Lucas Timm</h1>
    <button
      class="text-black dark:text-white hover:text-sky-800 dark:hover:text-sky-300 focus:outline-none focus:ring-2 focus-visible:ring-sky-300 focus-visible:ring-opacity-25 rounded-full"
      onclick="document.querySelector('dialog').showModal()"
    >
      <MenuIcon size="32" />
    </button>
  </header>
  <dialog
    class="backdrop:bg-black/30 dark:backdrop:bg-white/5 backdrop:backdrop-blur-sm bg-white dark:bg-black text-black dark:text-white rounded-md"
  >
    <nav class="m-8">
      <ul class="flex flex-col flex-nowrap gap-4 items-center">
        <li><a href="/">Home</a></li>
        <li><a href="/curriculum">Curriculum</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
  </dialog>
</div>
