---
import BookIcon from '../icons/BookIcon.astro';
---

<section
  class="bg-gradient-to-b from-sky-900 via-sky-800 to-sky-800 pt-16 px-2 pb-4 text-white shadow-lg shadow-sky-900/30"
>
  <div class="container mx-auto">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat minus
    explicabo consectetur eaque consequatur vero, labore molestiae omnis
    similique iusto, repudiandae aspernatur eius odio dolorem aperiam recusandae
    placeat. A vel debitis deserunt non necessitatibus incidunt dolore
    perspiciatis illum? Voluptates est cum ab quia amet? Magni est unde
    temporibus ullam natus!
  </div>
</section>
