---
interface Props {
  href: string;
}
const { href } = Astro.props;
---

<div
  class="absolute -top-2 -right-2 aspect-square overflow-clip rounded-sm w-24"
>
  <div class="absolute top-0 left-0 bg-sky-600 w-2 h-2"></div>
  <div class="absolute bottom-0 right-0 bg-sky-600 w-2 h-2"></div>
  <a
    href={href}
    class="absolute hover:bg-sky-400 transition-colors duration-150 bottom-0 right-0 bg-sky-300 block rotate-45 py-1 w-sqrt-2 text-center origin-bottom-right text-sky-800 tracking-wider uppercase"
  >
    <slot />
  </a>
</div>
