---
import '../global.css';
import Header from '../components/Header.astro';
const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Lucas Timm</title>
  </head>
  <body class="text-black bg-white dark:text-white dark:bg-black min-h-screen">
    <Header />
    <main class="container mx-auto px-4">
      <article class="max-w-2xl mx-auto">
        <h2 class="text-2xl font-bold">{frontmatter.title}</h2>
        <p class="text-sm text-slate-700">{frontmatter.description}</p>
        <p>Published on {frontmatter.pubDate.slice(0, 10)}</p>
        <slot />
      </article>
    </main>
  </body>
</html>
