---
import Header from '../components/Header.astro';
import Logo from '../components/Logo.astro';
import '../global.css';
import MenuIcon from '../icons/MenuIcon.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Lucas Timm</title>
  </head>
  <body class="text-black bg-white dark:text-white dark:bg-black min-h-screen">
    <Header />
    <main class="container mx-auto px-4">
      <slot />
    </main>
  </body>
</html>
